<!doctype html>
<html lang="en" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>About Page</title>
</head>
<body>
	<section>
		<div class="card me-3 mb-2">
			<div class="card-body">
				<div class="container text-center">
				<img style="width: 250px; height: 250px;" class="my_profile_picture" th:src="@{'/images/'+${user.imageUrl}}" alt="" />
					<h1 th:text="${user.name}"></h1>
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#ID</th>
								<th scope="col"><span th:text="${user.id}"></span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="col">Role</th>
								<th scope="col"><span th:text="${user.role}"></span></th>
							</tr>
							<tr>
								<th scope="col">Email</th>
								<th scope="col"><span th:text="${user.email}"></span></th>
							</tr>
							<tr>
								<th scope="col">Account Status</th>
								<th scope="col">
									<span th:if="${user.enabled}">Active</span>
									<span th:unless="${user.enabled}">Disabled</span>
								</th>
							</tr>
						</tbody>
					</table>
					<div>
						<th:block th:utext="${user.about}"></th:block>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>

</html>