<!doctype html>
<html lang="en" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8"/>
	<title>Home Page</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="font-weight-bold text-center">
			<h1 class="font-weight-bold">Smart Contact Manager</h1>
			<p>Start Collecting your contacts in very smarter way. We provide very efficient and smarter way of handling contacts.</p>
			<button class="btn bg-primary btn-large text-white">Get Started</button>
		</div>
		
	</section>
	
</body>
</html>