<!doctype html>
<html lang="en" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>Signup Page</title>
</head>

<body>
	<section>
		<div class="container mt-5">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card mt-2">
						<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert "
							role="alert">
							<p th:text="${session.message.content}"></p>
							<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
						</div>
						<h1 class="text-center">Register Here!!</h1>

						<form novalidate th:action="@{/do_register}" method="post" th:object="${user}">
							<div class="mb-2">
								<label for="name_field" class="form-label">Your Name</label>
								<input name="name" th:value="${user.name}" type="text" class="form-control"
									placeholder="Enter Here" id="name_field" th:classappend="${#fields.hasErrors('name')?'is-invalid':''}">
								<div id="validationServer03Feedback" class="invalid-feedback" th:each="error : ${#fields.errors('name')}" th:text="${error}" >
								
								</div>
							</div>
							<div class="mb-2">
								<label for="email_field" class="form-label">Your Email</label>
								<input name="email" th:value="${user.email}" type="email" placeholder="Enter Here"
									class="form-control" id="email_field" th:classappend="${#fields.hasErrors('email')?'is-invalid':''}">
								<div id="validationServer03Feedback" class="invalid-feedback" th:each="error : ${#fields.errors('email')}" th:text="${error}" >
								
							</div>
							<div class="mb-2">
								<label for="password_field" class="form-label">Your Password</label>
								<input name="password" th:value="${user.password}" placeholder="Enter Here"
									type="password" class="form-control" id="password_field" th:classappend="${#fields.hasErrors('password')?'is-invalid':''}">
								<div id="validationServer03Feedback" class="invalid-feedback" th:each="error : ${#fields.errors('password')}" th:text="${error}" >
							</div>
							<div class="mb-2 mt-2">
								<textarea id="" class="form-control" rows="6" name="about" th:text="${user.about}"
									placeholder="Enter something about yourself"></textarea>
					
							</div>
							<div class="form-check mb-2">
								<input class="form-check-input ml-2" type="checkbox" name="agreement" id="agreement">
								<label class="form-check-label ml-4" for="agreement">Agree Terms & Conditiond</label>
							</div>

							<div class="container text-center">
								<button class="btn bg-primary text-white" type="submit">Submit</button>
								<button class="btn text-white btn-warning" type="reset">Reset</button>

							</div>


						</form>


					</div>

				</div>


			</div>
		</div>
	</section>

</body>

</html>